.content {
    background-image: url();
}

.buttonGrid {
    display: flex;
    justify-content: space-around;
    margin-bottom: 200px;
}

.puzzleButton {
    padding: 2em 2em;
    cursor: pointer;
    background-color: red;
}

.puzzleButton:hover {
    background-color: rgba(255, 0, 0, 0.493);
}

.fade-out {
    display: none;
}

.button-on {
    background-color: green;
}

.button-on:hover {
    background-color: rgba(0, 128, 0, 0.534);
}