.snakeContainer {
    display: none;
}

.fade-out {
    display: none;
}

.content {
    background-image: url("../images/corridor.png");
}

.snake-fade-in{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 25px;
    gap: 10px;
    animation: 3s forwards snake-fade-in;
}

.bigButtonHidden {
    display: none;
}

.bigButtonContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 150px 0;
    animation: 3s button-fade-in;
}

.bigButton {
    padding: 35px 0;
    background-color: red;
    color: red;
}

.bigButton:hover {
    cursor: pointer;
    background-color: rgb(186, 52, 52);
    color: gold;
}

img:hover {
    cursor: pointer;
}

.snake-move {
    animation: 3s forwards slide-out;
}

@keyframes slide-out {
    from {
        translate: 0 0;
    } to {
        translate: 150vw 0;
    }
}

@keyframes snake-fade-in {
    from {
        display: none;
        opacity: 0;
    } to {
        display: grid;
        opacity: 1;
    }
}

@keyframes button-fade-in {
    from {
        display: none;
        opacity: 0;
    } to {
        display: flex;
        opacity: 1;
    }
}