body {
    background-color: rgb(19, 18, 18);
    color: rgb(212, 209, 209);
}

a {
    background-color: white;
    color: blue;
}

a:hover {
    background-color: yellow;
    color: black;
}


.senseButton {
    padding: 5px 10px;
    background-color: white;
    font-size: 18px;
    cursor: pointer;
}

.senseText {
    font-size: 24px;
    opacity: 0;
    padding: 2em 1em;
    background-color: black;
    color: white;
    display: none;
}

.storyText {
    font-size: 24px;
    padding: 2em 1em;
    background-color: black;
    color: white;
    opacity: 0.9;
}

.gameplayText {
    display: none;
    font-size: 24px;
    opacity: 1;
}

.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction:column;
}

.buttonContainer {
    display: flex;
    width: 802px;
    justify-content: space-between;
    padding: 1em;
}

.content {
    border: 1px solid white;
    display: flex;
    flex-direction: column-reverse;
    width: 800px;
    height: 600px;
}

.fade-in {
    display: block;
    animation: 0.7s ease-in forwards fade-in;
}

.fade-out{
    animation: 0.7s ease-out forwards fade-out;
}

@keyframes fade-in {
    from {
        display: none;
        opacity: 0;
    } to {
        display: block;
        opacity: 0.90;
    }
}

@keyframes fade-out {
    from {
        opacity: 0.9;
        display: block;
    } to {
        opacity: 0;
        display: none;
    }
}