.senseButton {
    padding: 5px 10px;
    background-color: white;
    font-size: 18px;
}

.senseText {
    padding: 1em 0;
    font-size: 20px;
    opacity: 0;
}

.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction:column;
}

#content {
    border: 1px solid white;
    padding: 1em;
    display: flex;
    flex-direction: column;
    width: 35%;
}

.fade-in {
    opacity: 1;
    animation: 2s ease-in fadeIn;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    } to {
        opacity: 1;
    }
}