.wrapper {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content:center;
    margin-top: 5%;
}

.endgame-text {
    font-size:24px;
    display: none;
    justify-content: center;
    margin-top: 10%;
    text-align: center;
    flex-direction:column;
    align-items: center;
}

a {
    background-color: white;
    color: blue;
    font-size: 26px;
}

a:hover {
    background-color: yellow;
    color: black;
}

.tutorial-text {
    font-size: 50px;
}

body {
    background-color: rgb(19, 18, 18);
    color: rgb(212, 209, 209);
}

.gameContainer {
    display: flex;

}

.restartButton {
    font-size:24px;
    padding:10px;
    max-width: 10ch;
    margin-top: 1em;
}

#spinWheelButton {
    margin-left: 10%;
    padding: 0.5em 1em;
    font-size: 24px;
    cursor: pointer;
    margin-top: 5em;
    margin-bottom: 5em;
}

#spinWheelButton:hover {
    background-color: rgba(255, 255, 255, 0.534);
}

#resultLinks {
    margin-left: 10%;
}

.pointer {
    font-size: 40px;
    margin-top: 3.3em;
}

.spinning-theFalls {
    animation: 10s forwards spinning-theFalls;
}

.spinning-abandonedCity {
    animation: 10s forwards spinning-abandonedCity;
}

.spinning-midnightFields {
    animation: 10s forwards spinning-midnightFields;
}

.spinning-snowyMountain {
    animation: 10s forwards spinning-snowyMountain;
}

.spinning-silentDesert {
    animation: 10s forwards spinning-silentDesert;
}

.spinning-ancientForest {
    animation: 10s forwards spinning-ancientForest;
}

.spinning-shipDock {
    animation: 10s forwards spinning-shipDock;
}

.spinning-shimmeringLake {
    animation: 10s forwards spinning-shimmeringLake;
}

.spinning-win {
    animation: 10s forwards spinning-win;
}

.full-fade-out {
    animation: 15s forwards full-fade-out;
}

.endgame-text-fade {
    display: flex;
    animation: 3s forwards endgame-text-fade;
}

@keyframes spinning-shimmeringLake {
    from {
        rotate: 0deg;
    } to {
        rotate: 2145deg;
    }
}

@keyframes spinning-shipDock {
    from {
        rotate: 0deg;
    } to {
        rotate: 1930deg;
    }
}

@keyframes spinning-ancientForest {
    from {
        rotate: 0deg;
    } to {
        rotate: 1870deg;
    }
}

@keyframes spinning-silentDesert {
    from {
        rotate: 0deg;
    } to {
        rotate: 2055deg;
    }
}

@keyframes spinning-snowyMountain {
    from {
        rotate: 0deg;
    } to {
        rotate: 2080deg;
    }
}

@keyframes spinning-midnightFields {
    from {
        rotate: 0deg;
    } to {
        rotate: 1960deg;
    }
}

@keyframes spinning-abandonedCity {
    from {
        rotate: 0deg;
    } to {
        rotate: 1995deg;
    }
}

@keyframes spinning-theFalls {
    from {
        rotate: 0deg;
    } to {
        rotate: 1830deg;
    }
}

@keyframes spinning-win {
    from {
        rotate: 0deg;
    } to {
        rotate: 2045deg;
    }
}

@keyframes full-fade-out {
    from {
        opacity: 1;
    } to {
        opacity: 0;
    }
}

@keyframes endgame-text-fade {
    from {
        display: none;
        opacity: 0;
    } to {
        display: block;
        opacity: 1;
    }
}